<div class="sobre-nosotros-container">
    <h1>Sobre Nosotros</h1>
  
    <section class="introduccion">
      <h2>Quiénes Somos</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero similique fugit, quasi natus ex rem repellendus tempora quam a voluptate, nobis aliquid? Quis possimus, quam eius enim atque sunt suscipit?</p>
    </section>
  
    <section class="mision">
      <h2>Nuestra Misión</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aspernatur blanditiis a illum eius? Esse ex quibusdam, debitis porro officia aspernatur omnis delectus laudantium, incidunt animi iusto magni earum reprehenderit.</p>
    </section>
  
    <section class="vision">
      <h2>Nuestra Visión</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae dolore obcaecati neque ducimus tempora aliquid saepe maxime ex, et inventore deleniti quas nobis, labore eaque praesentium vitae perferendis, a in.</p>
    </section>
  
    <section class="valores">
      <h2>Valores</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit aut nesciunt, cum architecto mollitia expedita dolor vel sapiente modi deleniti suscipit atque eligendi reiciendis rerum ad optio quam odio ducimus.</li>
      </ul>
    </section>
  </div>
  
